<div data-role="header" data-theme="b">
    <h1><%= @airport.code %></h1>
    <h2><%= @airport.name %></h2>
</div>
<div data-role="content">

<%= @airport.description %>  
</div>
<div data-role="footer" data-theme="b">
    <h4>Copyright 2011</h4>
</div>


